{% extends 'base.html.twig' %}

{% block body %}
   	<div class="container">
       	<div class="row">
            <header style="margin: 3rem 0;" class="col-12">
           		<h2 class="display-4">Profitez de toute la gamme Bilemo</h2>
            </header>
            <div class="col-12">
                   <p>Veuillez procéder à votre authentification en vous connectant à votre compte Bilemo, afin d'accéder à notre liste de produits</p>
                    <br/>
                    <a href="https://www.facebook.com/v2.10/dialog/oauth?client_id={{ facebook_client_id }}&amp;response_type=code&amp;redirect_uri={{ url('admin_auth') }} " type="button" class="btn btn-info btn-lg"><i class="fa fa-facebook"></i> Merci de vous authentifier avec Facebook</a>
                    
                    <!--<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div> -->
            </div>
           
       </div>
   </div>
{% endblock %}
